<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tf.travelbook">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".MyAppliation"
        android:allowBackup="true"
        android:icon="@mipmap/view"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="uhor0wUy0pzVpvfmM5AZ1k8t6LR1TGih" />

        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".SearchResult" />
        <activity android:name=".LongTrip" />
        <activity android:name=".ShortTrip" />
        <activity android:name=".NearView" />
        <activity android:name=".TripPlan" />
        <activity android:name=".LongTripView" />
        <activity android:name=".ShortTripView" />
        <activity
            android:name=".Plan"
            android:theme="@style/PlanActionBar" />
        <activity android:name=".ViewInformation" />
        <activity android:name=".BasicNeed" />
        <activity
            android:name=".CheckPlan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".PersionCenter" />
        <activity
            android:name=".EnrollActivity"
            android:theme="@style/Translucent" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".ChangePwdActivity" />
        <activity android:name=".FriendCircleActivity" />
        <activity
            android:name=".SeesDetaillsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".PublishActivity" />
        <activity android:name=".WelcomePagerActivity" />
        <activity android:name=".WaitPagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>